*/*.o
*/*.db
*/*.so
*/*.swp
sqlite_terminal/sqlite-amalgamation*
sqlite_terminal/sqlite3.c
sqlite_terminal/sqlite3.h
sqlite_terminal/sqlite_terminal
dotnet_spa
*.sql
json_parser/print_all
json_parser/goto
