*/*.o
*/*.db
*/*.so
*/*.swp
sqlite_terminal/sqlite-amalgamation*
sqlite_terminal/sqlite3.c
sqlite_terminal/sqlite3.h
sqlite_terminal/sqlite_terminal
*.sql
json_parser/print_all
json_parser/goto
dotnet_spa/bin
dotnet_spa/obj
dotnet_spa/*.sql
dotnet_spa/*.db
dotnet_spa/.vscode

